doctype html
html
  head
    meta(charset='UTF-8')
    title forkdummy
  body
    p Received an error from the GitHub API when trying to create the repo.
    p <a href="https://github.com/#{user}/#{repo}">Does it already exist?</a>