doctype html
html
  head
    meta(charset='UTF-8')
    title forkdummy
  body
    h1 Error
    pre= error
    p.
      Please report this error at
      <a href="https://github.com/stuartpb/forkdummy/issues">https://github.com/stuartpb/forkdummy/issues</a>.
      Paste the above error output and describe what you were doing.